<p>Hi,</p>

<p>
    Click the button below to reset your password<br />

    <a href="@Model.ValidationUrl">Reset your password</a><br /><br />

    You can also copy the following link into your browser: @Model.ValidationUrl
</p>
<br />
<br />
<hr />

<p>This is an automated message, please do not respond.